<!-- the show must go on ! -->
<div class="container">
  <h1>Costumes Details : </h1>
  <p>See the costume you just selected !</p>


    <div class="col-md-6">
      <%= cl_image_tag @costume.image, width: 500, height: 400, crop: :fill %>

    </div>
    <div class="col-md-4">

      <p>Name : <%= @costume.name %></p>
      <p><%= @costume.price %> Euros</p>
      <br>
      <p>Description : </p>
      <p><%= @costume.description %></p>
      <br>
      <p>Size :<%= @costume.size %></p>
      <p>Category :<%= @costume.category %></p>
      <br>
      <p>City : <%= @costume.city %></p>
      <p> Available :
        <% if @costume.availability == true %>
              <%= "Yes" %>
            <% else %>
              <%= "No" %>
            <% end %>

      </p>
    </div>


  <!-- buttons : -->
  <!-- rent -->
  <%= link_to 'Rent', owner_costume_path(@costume), class: "btn btn-primary" %>


  <!-- create -->


</div>
