<div style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.01) 20%, rgba(0,0,0,0.01) 20%),
  url('<%= image_path("background_home.jpg") %>');">
<div class="container">
 <div class="index-title text-center">
  <h1>List of all your bookings</h1>
 </div>

 <div class="background-white">
    <% @bookings.each do |booking| %>
      <div class="flat_card">
        <div class="element image">
          <%= cl_image_tag(booking.costume.image, width: 85, height: 100) %>
        </div>
        <div class="element content">
          <p><%= booking.costume.name.capitalize %></p>
          <p><%= booking.costume.price %><span> €/day</span></p>
        </div>
        <div class="element status">
          <p id="<%=booking.status %>"><%= booking.status %></p>
          <p><%= booking.start_on %> - <%= booking.end_on %></p>
        </div>
        <div class="element contact">
          <% if booking.status == "accepted" %>
            <p><%= booking.user.phone %></p>
          <% else %>
            <p><%= "..no contact yet.." %></p>
          <% end %>
         </div>
      </div>
    <% end %>
  </div>
</div>
