 <!-- form ici !! -->
<div class="FormCostume">
  <%= simple_form_for [:owner, costume] do |f| %>
    <div class="col-md-4">
      <%= f.input :name %>
      <%= f.input :price, label:"Price (Euros)"%>
      <%= f.input :size %>
      <%= f.input :category %>
      <%= f.input :city %>
    </div>
    <div class="col-md-6">
      <%= f.input :image  %> <br><br><br>
      <%= f.input :description %>

      <%= f.submit 'Add a costume', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

